* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  
}
.full-width {
  width: 100%;
}
.d-block {
  display:block;
}
.material-icons {
  margin-right: 3px;
}
.material-icons.bg {
  background-color: #3A506F;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}
.lead_head_text {
  color: rgb(39, 38, 38);
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}
.lead_head_text1 {
  color: rgb(26, 25, 25);
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: bold;
}
.lead_text {
  font-size: 1.25rem;
  line-height: 1.90rem;
  color: rgb(56, 54, 54);
}
.lead_text-1 {
  font-size: 1.50rem;
  line-height: 2.30rem;
  color: rgb(31, 30, 30);
  font-weight: bold;
}
.lead-text-dim {
  color: #242a3f;
  font-size: 1.1rem;
  text-align: center;
}
.tks {
  color: #5b3cc4;
  font-size: 2.5rem;
  font-weight: bolder;
}
.mt-100 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mr {
  margin-right: 6px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.flex-justify-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-between {
  display:flex;
  justify-content:space-between;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head_text {
  color: #d4d3d3;
  font-size: 1.3rem;
  padding: 5px;
}
.head_text-1 {
  color: #FFFFFF;
  font-size: 1.2rem;
}
.swap_form_div {
  /* border: 2px solid #202131; */
  padding: 10px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swap_form_div_tks {
  /* border: 2px solid #202131; */
  margin-top: -15px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected_token {
  margin-top: 10px;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
}
.selected_token:hover {
  background-color: #202D3F;
}
.center {
  text-align: center;
}
.insights {
  background-color: whitesmoke;
  border: 1px solid white;
  border-radius: 20px;
  width: 250px;
  color: #0D132A;
  font-weight: bold;
  padding: 5px;
  font-size: 20px;
}
.insights1 {
  background-color: #F4F4FF;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  width: 170px;
  color: #0D132A;

  padding: 5px;
}
.swap {
  width: 480px;
}
.swap_form {
  background-color: #1B1F2F;
  height: 280px;
  border-radius: 25px;
  padding: 10px;
  color: rgb(179, 177, 177);
}
.swap_token_table {
  height: 100vh;
  overflow-y: scroll;
}
.swap_metrics {
  color: rgb(136, 135, 135);
  margin-top: 40px;
  background-color: #1B1F2F;
  border-radius: 20px;
  padding: 10px;
}
.pool {
  width: 630px;
  color: whitesmoke;
}
.liquidity {
  background-color: #242a3f;
  padding: 10px;
  border-radius: 15px;
}
.liquidity-tip {
  background-color: #242a3f;
  color: #5a5f70;
  padding: 10px;
  border-radius: 15px;
}
.add-liquidity {
  background-color: #1B1F2F;
  width: 420px;
  padding: 15px;
  color: whitesmoke;
  border-radius: 25px;
}
.footer_container {
  background:#F4F4FF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(251, 255, 10, 0.07), 
  0 2px 4px rgba(229, 255, 0, 0.07), 
  0 4px 8px rgba(245, 241, 231, 0.07), 
  0 8px 16px rgba(242, 255, 121, 0.07),
  0 16px 32px rgba(250, 250, 250, 0.07), 
  0 32px 64px rgba(182, 255, 10, 0.07);
  padding: 10px;
  color: rgb(92, 89, 89);
}
.show-token-list {
  z-index: 99000;
  position: fixed;
  width: 350px;
  height: 320px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}
.show-token-list-div {
  background: #1B1F2F !important;
  color: white !important;
}
.wallects {
  border: 1px solid #2c2f44;
  padding: 5px;
  border-radius: 10px;
}
.linegrapgh {
  padding:10px;
  border:1px solid grey; 
  border-radius:10px;
  width: 650px;
}
.tr_tk {
  border: 1px solid rgb(31, 40, 90);
  padding: 10px;
  border-radius: 5px;
  color: rgb(170, 168, 168);
  font-weight: li;
}
.hero {
  background-color: #F4F4FF;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.subscription {
  background: rgb(244,210,230);
  background: linear-gradient(170deg, rgba(244,210,230,1) 29%, rgba(243,220,233,1) 65%);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.news {
  padding-top: 80px;
  padding-bottom: 50px;
  width: auto;
  height: auto;

}
.wrap {
  width: 940px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.card_about .vs-card {
  background: rgb(234,250,250) !important;
  background: linear-gradient(151deg, rgba(234,250,250,1) 35%, rgba(244,244,255,1) 59%) !important;
  max-width: 520px;
}
.uniswap {
  padding-top: 50px;
  padding-bottom: 100px;
  background: rgb(244,244,255);
  background: linear-gradient(151deg, rgba(244,244,255,1) 35%, rgba(234,250,250,1) 59%);
}
.community {
  background: #F5F6FF;
  padding-top: 60px;
  padding-bottom: 100px;
}



