@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
}
/* @font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
} */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: inherit;
}
hr.sales_hr {
  border: 1px solid #24262c;
}
.full-width {
  width: 100%;
}
.d-block {
  display:block;
}
.material-icons.bg {
  background-color: #3A506F;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}
.lead_head_text {
  color: whitesmoke;
  font-size: 42px;
  line-height: 1;
  font-weight: bold;
}
.lead_head_text_black {
  color: rgb(12, 12, 12);
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: bolder;
}
.lead_head_text1 {
  color: whitesmoke;
  font-size: 41px;
  line-height: 3rem;
  font-weight: bold;
}
.lead_text {
  font-size: 1rem;
  line-height: 1.90rem;
  color: rgb(214, 213, 213);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.small_text1 {
  font-size: 1rem;
  color: rgb(190, 188, 188);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.small_text_primary {
  color: #5b3cc4;
  font-size: 1.1rem;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.small_text {
  font-size: 0.8rem;
  color: #161616;
  font-weight: bold;
}
.lead_text_black {
  font-size: 1.1rem;
  line-height: 1.90rem;
  color: rgb(22, 22, 22);
  font-family: Avenir, Helvetica, Arial, sans-serif;

}
.text_p {
  font-size: 1.1rem;
  line-height: 1.90rem;
  color: #161616;
  width: 70%;
  margin: 0px auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.tks {
  color: #5b3cc4;
  font-size: 2.5rem;
  font-weight: bolder;
}
.mt-100 {
  margin-top: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mr {
  margin-right: 6px;
}
.mr-10 {
  margin-right: 20px;
  color: #5772ec;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 18px;
}
.ml-20 {
  margin-left: 30px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.flex-justify-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-justify-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-justify-between {
  display:flex;
  justify-content:space-between;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head_text {
  color: #d4d3d3;
  font-size: 1.3rem;
  padding: 5px;
}
.head_text-1 {
  color: #FFFFFF;
  font-size: 1.2rem;
}
.swap_form_div {
  /* border: 2px solid #202131; */
  padding: 10px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swap_form_div_tks {
  /* border: 2px solid #202131; */
  margin-top: -15px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected_token {
  margin-top: 10px;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
}
.selected_token:hover {
  background-color: #202D3F;
}
.center {
  text-align: center;
}
.insights {
  color:whitesmoke;
  font-weight: bold;
  font-size: 18px;
}
.insights1 {
  background-color: #F4F4FF;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  width: 170px;
  color: #0D132A;

  padding: 5px;
}
.swap {
  width: 480px;
}
.swap_form {
  background-color: #1B1F2F;
  height: 280px;
  border-radius: 25px;
  padding: 10px;
  color: rgb(179, 177, 177);
}
.swap_token_table {
  height: 100vh;
  overflow-y: scroll;
}
.swap_metrics {
  color: rgb(136, 135, 135);
  margin-top: 40px;
  background-color: #1B1F2F;
  border-radius: 20px;
  padding: 10px;
}
.pool {
  width: 630px;
  color: whitesmoke;
}
.liquidity {
  background-color: #242a3f;
  padding: 10px;
  border-radius: 15px;
}
.liquidity-tip {
  background-color: #242a3f;
  color: #5a5f70;
  padding: 10px;
  border-radius: 15px;
}
.add-liquidity {
  background-color: #1B1F2F;
  width: 420px;
  padding: 15px;
  color: whitesmoke;
  border-radius: 25px;
}
.footer_container {
  background:#0F121E;
  padding-top: 50px;
  padding-bottom: 30px;
}
.show-token-list {
  z-index: 99000;
  position: fixed;
  width: 350px;
  height: 320px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}
.show-token-list-div {
  background: #1B1F2F !important;
  color: white !important;
}
.wallects {
  border: 1px solid #2c2f44;
  padding: 5px 15px;
  border-radius: 10px;
}
/* .wallects span {
  color: rgb(158, 155, 155);
  cursor: pointer;
} */
.wallects:hover {
  background-color: #2c2f44;
}
.green_dot {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}
.tr_tk {
  border: 1px solid rgb(31, 40, 90);
  padding: 10px;
  border-radius: 5px;
  color: rgb(170, 168, 168);
}
.main_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  width: 100%;
}
.hero {
  background-color:#1A1D29;
  padding-top: 100px;
  padding-bottom: 350px;
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.wrap {
  width: 940px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.wrap_bundle {
  width: 1100px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.card_about .vs-card {
  background: rgb(234,250,250) !important;
  background: linear-gradient(151deg, rgba(234,250,250,1) 35%, rgba(244,244,255,1) 59%) !important;
  max-width: 520px;
}
.news {
  background-color:#1A1D29;
}
.sec_div {
  background: #CACAFE;
  /* position: relative; */
}
.token_text {
  color: #5b3cc4;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
}
.sales_div {
  background-color: #2C3038;
  border-radius: 50px;
  align-self: center;
  width: 380px;
}
.sales_div_head {
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  padding: 15px;
}
.promo_div {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #5B616B;
  height: 20rem;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

.connect_d {
  display: flex;
  justify-content: center;
  background-color: #212428;
  padding: 8px 10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.progress {
  background-color: #0F1422;
  width: 100%;
  border-radius: 50px;
}
.progress_div {
  background: linear-gradient(315deg, #E1C324, #cb8016);
  width: 70%;
  height: 20px;
  border-radius: 40px;
  margin-top: 10px;
}
.progress_time {
  background: linear-gradient(315deg, #6D21DF, #501BC4);
  width: 30%;
  height: 20px;
  border-radius: 40px;
  margin-top: 10px;
}
.rule {
  width: 40px;
  margin-top: 20px;
  margin-left: 40px;
  border: 1px solid #cb8016;
}
.yellow {
  color: #cb8016;
  font-size: 28px;
}
.community {
  background-color:#1A1D29;
  padding-top: 20px;
  padding-bottom: 100px;
}
.p_link {
  color: rgb(175, 174, 174);
}
.add_icon {
  color:grey; 
  font-size:2rem; 
  font-weight:bold;
  margin: 0 35px;
}
.p_tokens {
  float:right;
  color:rgb(158, 154, 154)
}
.gif_anime {
  height: 350px;
  border: 1px solid rgb(167, 156, 156);
  width: 100%;
  border-radius: 70px;
  background-color: #484B4E;
}
.promo_div2 {
  height: 460px;
  border: 1px solid rgb(167, 156, 156);
  width: 80%;
  float: right;
  border-radius: 70px;
  background-color: #484B4E;
}
.time_left {
  color:#5b3cc4;
  font-size: 28px;
}
.flip-card__bottom[data-v-78efe7f6], .flip-card__back-bottom[data-v-78efe7f6], .flip-card__bottom-4digits[data-v-78efe7f6], .flip-card__back-bottom-4digits[data-v-78efe7f6] {
  color: #5b3cc4 !important;
  border-top: none !important;
}
.flip-card__top[data-v-78efe7f6], .flip-card__bottom[data-v-78efe7f6], .flip-card__back-bottom[data-v-78efe7f6], .flip-card__back[data-v-78efe7f6]::before, .flip-card__back[data-v-78efe7f6]::after {
  color: #5b3cc4 !important;
  height: 0.70em !important;
  background: #222 !important;
  width: 1.5em !important;
}
.flip-card[data-v-78efe7f6] {
  line-height: 1 !important;
}
.flip-card[data-v-78efe7f6] {
  font-size: 2.3rem !important;
}
.flip-clock__slot[data-v-78efe7f6] {
  font-size: 0.8rem !important;
  color: rgb(201, 193, 193) !important;
}
.partner_div {
  margin-top:70px;
}
.partner_div2 {
  display: none;
}
.eth_div {
  width: 260px;
  background-color: #40444E;
  display: flex;
  border-radius: 10px;
  cursor: pointer;

}
.eth_bal {
  width: 40%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 2px 8px;
  color: rgb(221, 219, 219);
}
.eth_bal1 {
  width: 60%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 2px 8px;
  color: #cb8016;
  font-weight: bold;
}
.eth_acc {
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #2C2F36;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 8px;
  color: rgb(218, 216, 216);
}
.eth_acc1 {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: #2C2F36;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 8px;
  color: rgb(218, 216, 216);
}
#walletconnect-qrcode-modal div:first-child {
  max-width: 350px !important;
  top: 50% !important;
}
.connected {
  color: grey;
}
.meta_div {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 13px;
  margin-top: 15px;
}
.switch_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch_div span {
  color: rgb(184, 180, 180);
  padding-top: 15px;
  padding-right: 5px;
}

.round_token_button {
  background: #1A1D29;
  box-shadow:  9px 9px 15px #807f89,
             -9px -9px 15px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  padding: 2px;
  border-radius: 45px;
  margin-bottom: 20px;
}
.matic_btn {
  width: 100px;
  font-size: 0.8rem;
  color: rgb(116, 112, 112);
  padding: 1px 5px;
  background: #DDDBEC;
  border-radius: 20px;
  cursor: pointer;
}
.bun_p {
  font-size: 13px;
  margin-top: 8px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.percentage_off {
  font-size: 1rem;
  color: #091750;
}
.num_input {
  background: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  width: 40px;
  padding: 4px;
  font-size: 0.8rem;
  margin: 0px 7px;
  text-align: center;
}
.mi {
  cursor: pointer;
}
.caro_image {
  width: 100%;
}
.bk_bun {
  background:#EEEEEE;
  margin-top:-5px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bk_bun span {
 font-size: 18px;
 font-weight: bold;
 margin-left: 10px;
}
.logo_img {
  border-radius: 100px;
  width: 30px;
}
.stock_bold {
  font-size: 1.2rem;
  font-weight: bold;
}
#matic, #wEth {
  display: none;
}
.notify_txt {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}
/* .opacity {
  opacity: 0.8;
  background: #6A6C72;
} */
.bundle_tab {
  background: #000000;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* Style the tab */
.tab {
  float: left;
  width: 35%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  background: #6A6C72;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #DDDBEC;
  opacity: 1px;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 4px;
  border: 1px solid #DDDBEC;
  width: 65%;
  border-left: none;
  background-color: #DDDBEC;
  border-bottom-right-radius: 20px;
}

/* ----------- iPhone 12 pro max ----------- */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {
      .vs-dialog {
        width: 90% !important;
        min-width: 90% !important;
      }
      .wrap {
        width: 100% !important;
        padding: 0 9px;
      }
      .vs-navbar {
        width: 100% !important;
      }
      .sales_div {
        width: 400px !important;
        margin-bottom: 25px;
      }
      .rule {
        display: none;
      }
      .progress {
        width: 95%;
        margin-top: 5px;
      }
      .p_tokens {
        margin-right: 20px;
      }
      .time_left {
        width: 15%;
      }
      .d-flex {
        display: block;
      }
      .sub_button.vs-button--default {
        margin-left:5px !important;
        margin-top: 25px;
      }
      .partner_div {
        display: none;
      }
      .partner_div2 {
        display: block;
        margin-top: 20px;
      }
      .lead_text_black {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
}

/* ----------- iPhone 11 12 pro  ----------- */
@media only screen 
    and (min-device-width: 390px) 
    and (max-device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
    .vs-dialog {
      width: 90% !important;
    }
    .wrap {
      width: 100% !important;
      padding: 0 10px;
    }
    .vs-navbar {
      width: 100% !important;
    }
    .sales_div {
      width: 370px !important;
      margin-bottom: 25px;
    }
    .rule {
      display: none;
    }
    .progress {
      width: 95%;
      margin-top: 5px;
    }
    .p_tokens {
      margin-right: 20px;
    }
    .time_left {
      width: 15%;
    }
    .d-flex {
      display: block;
    }
    .sub_button.vs-button--default {
      margin-left:5px !important;
      margin-top: 25px;
    }
    .partner_div {
      display: none;
    }
    .partner_div2 {
      display: block;
      margin-top: 20px;
    }
    .lead_text_black {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
}

/* ----------- iPhone 11 pro max  ----------- */
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-device-pixel-ratio: 3) {
      .vs-dialog {
        width: 90% !important;
      }
      .wrap {
        width: 100% !important;
        padding: 0 9px;
      }
      .vs-navbar {
        width: 100% !important;
      }
      .sales_div {
        width: 400px !important;
        margin-bottom: 25px;
      }
      .rule {
        display: none;
      }
      .tab {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
      }
      .tabcontent {
        width: 100%;
      }
      .el-carousel__item--card {
        width: 80% !important;
        border-radius: 13px;
      }
      .progress {
        width: 95%;
        margin-top: 5px;
      }
      .p_tokens {
        margin-right: 20px;
      }
      .time_left {
        width: 15%;
      }
      .d-flex {
        display: block;
      }
      .sub_button.vs-button--default {
        margin-left:5px !important;
        margin-top: 25px;
      }
      .partner_div {
        display: none;
      }
      .partner_div2 {
        display: block;
        margin-top: 20px;
      }
      .lead_text_black {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
}

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .vs-dialog {
    width: 90% !important;
    min-width: 90% !important;
  }
  .wrap {
    width: 100% !important;
    padding: 0 9px;
  }
  .vs-navbar {
    width: 100% !important;
  }
  .sales_div {
    width: 350px;
    margin-bottom: 25px;
  }
  .rule {
    display: none;
  }
  .progress {
    width: 95%;
    margin-top: 5px;
  }
  .p_tokens {
    margin-right: 20px;
  }
  .time_left {
    width: 15%;
  }
  .d-flex {
    display: block;
  }
  .sub_button.vs-button--default {
    margin-left:5px !important;
    margin-top: 25px;
  }
  .partner_div {
    display: none;
  }
  .partner_div2 {
    display: block;
    margin-top: 20px;
  }
  .lead_text_black {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .vs-dialog {
      width: 90% !important;
    }
    .wrap {
      width: 100% !important;
      padding: 0 9px;
    }
    .wrap_bundle {
      width: 100% !important;
    }
    .vs-navbar {
      width: 100% !important;
    }
    .sales_div {
      width: 400px !important;
      margin-bottom: 25px;
    }
    .tab {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0px;
    }
    .tabcontent {
      width: 100%;
      padding: 5px;
    }
    .el-carousel__item--card {
      width: 80% !important;
      border-radius: 13px;
    }
    .rule {
      display: none;
    }
    .progress {
      width: 95%;
      margin-top: 5px;
    }
    .p_tokens {
      margin-right: 20px;
    }
    .time_left {
      width: 15%;
    }
    .d-flex {
      display: block;
    }
    .sub_button.vs-button--default {
      margin-left:5px !important;
      margin-top: 25px;
    }
    .partner_div {
      display: none;
    }
    .partner_div2 {
      display: block;
      margin-top: 20px;
    }
    .lead_text_black {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .vs-dialog {
      width: 90% !important;
    }
    .wrap {
      width: 100% !important;
      padding: 0 9px;
    }
    .vs-navbar {
      width: 100% !important;
    }
    .sales_div {
      width: 350px;
      margin-bottom: 25px;
    }
    .rule {
      display: none;
    }
    .progress {
      width: 95%;
      margin-top: 5px;
    }
    .p_tokens {
      margin-right: 20px;
    }
    .time_left {
      width: 15%;
    }
    .d-flex {
      display: block;
    }
    .sub_button.vs-button--default {
      margin-left:5px !important;
      margin-top: 25px;
    }
    .partner_div {
      display: none;
    }
    .partner_div2 {
      display: block;
      margin-top: 20px;
    }
    .lead_text_black {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
}

/* ----------- Galaxy S6 ----------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) { 
    .vs-dialog {
      width: 90% !important;
    }
    .wrap {
      width: 100% !important;
      padding: 0 9px;
    }
    .vs-navbar {
      width: 100% !important;
    }
    .sales_div {
      width: 350px;
      margin-bottom: 25px;
    }
    .rule {
      display: none;
    }
    .progress {
      width: 95%;
      margin-top: 5px;
    }
    .p_tokens {
      margin-right: 20px;
    }
    .time_left {
      width: 15%;
    }
    .d-flex {
      display: block;
    }
    .sub_button.vs-button--default {
      margin-left:5px !important;
      margin-top: 25px;
    }
    .partner_div {
      display: none;
    }
    .partner_div2 {
      display: block;
      margin-top: 20px;
    }
    .lead_text_black {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
}


